*.ipynb_checkpoints*
__pycache__
__pycache__/*
*.py[cod]
*.so
*.egg
*.egg-info
.buildinfo
eggs
develop-eggs
.installed.cfg
.DS_Store
.pytest_cache/
htmlcov/
.coverage
.vscode/
.mypy_cache
*.out
*.csv
*.mp4
docs/_tags/*
*/e*.pt
*_scratch.py
*_scratch.ipynb
*_draft.py
*_draft.ipynb
*Copy.py
*Copy.ipynb
*/runs/*
/design_friendly/models/ifac
/design_friendly/predict_ts.ipynb
/design_friendly/load_draft.ipynb
/design_friendly/utils/anim_utils.py
*.png
*.mp4
/fi
design_friendly/Figures_draft
/design_friendly/IEA22s.pdf