*.ipynb_checkpoints*

# C extensions
*.so

# Packages
*.egg
*.egg-info
.buildinfo
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.DS_Store

*.profraw

__pycache__
__pycache__/*
*/__pycache__
*/__pycache__/*
*/*/__pycache__
*/*/__pycache__/*

.pytest_cache/
htmlcov/
.coverage
.vscode/
.mypy_cache
*.pstats
*.out
docs/_tags/*
*/e*.pt

*_scratch.py
*_scratch.ipynb
*_draft.py
*_draft.ipynb

*/runs/*

design_friendly/validationset_allepoch.csv
design_friendly/validationset_draft.csv
design_friendly/subset_wds_sweep_wss7.mp4
